---
layout: archive_custom
---

{% assign categories_max = 0 %}
{% assign categories_count = 0 %}

{% for category in site.categories %}
  {% assign categories_count = categories_count | plus: category[1].size %}
  {% if category[1].size > categories_max %}
    {% assign categories_max = category[1].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
    <li>
        <a href="/blog">
          <strong>all</strong> <span class="taxonomy__count">{{ categories_count }}</span>
        </a>
    </li>

  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
      {% if category[1].size == i %}
        <li>
          <a href="/blog/{{ category[0] | slugify }}">
            <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<h1 id="page-title" class="page__title">{{ page.title }}</h1>

{{ content }}

<div class="entries-{{ page.entries_layout | default: 'grid' }}">
{% for post in paginator.posts %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>

{% include paginator.html %}
