---
layout: home_archive
---

{{ content }}

<div>
<h3 class="archive__subtitle">Recent mountain biking posts</h3>
    <div class="entries-{{ page.entries_layout | default: 'grid' }}">        
        {% for post in site.categories.mtb limit:4 %}
            {% include archive-single.html type="grid" %}
        {% endfor %}
    </div>
    <a href="categories/#mtb" class="back-to-top">More mountain biking posts...</a>
</div>

<div>
<h3 class="archive__subtitle">Recent hiking posts</h3>
    <div class="entries-{{ page.entries_layout | default: 'grid' }}">        
        {% for post in site.categories.hike limit:4 %}
            {% include archive-single.html type="grid" %}
        {% endfor %}
    </div>
    <a href="categories/#hike" class="back-to-top">More hiking posts...</a>
</div>

<div>
<h3 class="archive__subtitle">Recent skitouring posts</h3>
    <div class="entries-{{ page.entries_layout | default: 'grid' }}">        
        {% for post in site.categories.skitour limit:4 %}
            {% include archive-single.html type="grid" %}
        {% endfor %}
    </div>
    <a href="categories/#skitour" class="back-to-top">More skitouring posts...</a>
</div>
